{% extends "base.html" %} <!-- Extende o template base.html como base-->
{% block head %}
    {{ super() }}  <!-- Insere o conteúdo do bloco 'head' definido em base.html, como meta tags e links globais. -->
    <link rel="stylesheet" href="static/css/style-login.css"> <!-- Inclui o CSS específico para esta página -->
    <title>Login - JEBY Finanças</title> <!-- Define o título da aba do navegador para esta página -->
{% endblock %}
{% block content %}
<main class="major"> <!-- Área principal da página, usada para centralizar o conteúdo de login -->
    <div class="login-box"> <!-- Caixa visual que agrupa o formulário de login e informações relacionadas -->
        <h2>
            <img src="static/img/key-icon.svg" alt="Ícone de Chave">
            Login para sua conta
        </h2>
        <!-- Formulário de login -->
        <form action="#" id="login-form">
            {{ form.hidden_tag() }} <!-- Insere campos ocultos do Flask-WTF -->
            <div class="input-group">  
                <label for="email">E-mail:</label> <!-- Rótulo do campo de e-mail, melhora acessibilidade -->
                <input type="email" id="email" name="email" required> <!-- Campo de e-mail -->
            </div>
            <div class="input-group">
                <label for="password">Senha:</label> <!-- Rótulo do campo de senha -->
                <input type="password" id="password" name="senha" required> <!-- Campo para o usuário digitar seu e-mail -->
            </div>
            <button type="submit" class="submit-button">Entrar</button> <!-- Botão para enviar o formulário e tentar autenticar o usuário -->
        </form>
        <p class="forgot-password"><a href="#">Esqueceu sua senha?</a></p> <!-- Link para recuperação de senha -->
    </div>
    
</main>

<!-- Inclui o JavaScript específico para a página de login -->
<script src="static/js/script-login.js"></script>
{% endblock %}