{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-resultados.css') }}">
    <title>Resultados da Análise - JEBY Finanças</title>
{% endblock %}
{% block content %}
        <main>
            <div class="dashboard">
                <div class="dashboard-grid">
                    
                    <section id="results" class="results-box">
                        <h2>📊 Gastos por Categoria</h2>
                        <div class="chart-container">
                            <canvas id="resultsChart"></canvas>
                        </div>
                    </section>
                    
                    <section id="goals-comparison" class="results-box">
                        <h2>🎯 Gastos vs. Metas</h2>
                        <div class="chart-container">
                            <canvas id="goalsChart"></canvas>
                        </div>
                    </section>

                </div>
            </div>
        </main>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script src="{{ url_for('static', filename='js/script-resultados.js') }}"></script>
{% endblock %}