{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-resultados.css') }}">
    <title>Resultados da Análise - JEBY Finanças</title>
{% endblock %}
{% block content %}
        <main>
            <div class="dashboard">
                <div class="dashboard-grid">
                    
                    <section class="results-box">
                        <h2>
                            <img src="{{ url_for('static', filename='img/graph-icon.svg') }}" alt="Ícone de Gráfico">
                            Gastos por Categoria
                        </h2>
                        <div class="chart-container">
                            <canvas id="resultsChart"></canvas>
                        </div>
                    </section>
                    
                    <section class="results-box">
                        <h2>
                            <img src="{{ url_for('static', filename='img/analyse-icon.svg') }}" alt="Ícone de Análise">
                            Total Gasto vs. Meta Total
                        </h2>
                        <div class="chart-container">
                            <canvas id="goalsChart"></canvas>
                        </div>
                    </section>

                    <section class="results-box">
                        <h2>
                            <img src="{{ url_for('static', filename='img/search-icon.svg') }}" alt="Ícone de Alvo">
                            Gasto vs. Meta (Detalhado)
                        </h2>
                        <div class="chart-container">
                            <canvas id="comparisonChart"></canvas>
                        </div>
                    </section>

                    <section class="results-box">
                        <h2>
                            <img src="{{ url_for('static', filename='img/excess-icon.svg') }}" alt="Ícone de Cifrão">
                            Sobra ou Excesso por Categoria
                        </h2>
                        <div class="chart-container">
                            <canvas id="deviationChart"></canvas>
                        </div>
                    </section>

                </div>
            </div>
        </main>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='js/script-resultados.js') }}"></script>
{% endblock %}